@import "../style/mixins";

ngt-form-elements {
    display: flex;
    flex-direction: row;

    .ngt-form-element {
        &:not(:last-of-type) {
            margin-right: 30px;
        }

        > * {
            @include cover-full-width;
        }
    }

    @for $elmSize from 1 through 12 {
        .ngt-element-size-#{$elmSize} {
            flex: $elmSize;
        }
    }
}