@import "../style/placeholders";

ngt-form-elements {
    display: flex;
    flex-direction: row;

    .mat-radio-button {
        margin-right: 30px;
    }

    .ngt-form-element {
        &:not(:last-of-type) {
            margin-right: 30px;
        }

        > * {
            @extend %cover-full-width;
        }
    }

    @for $elmSize from 1 through 12 {
        .ngt-element-size-#{$elmSize} {
            flex: $elmSize;
        }
    }

    .ngt-element-size-0 {
        display: none;
        width: 0;
    }
}