@import "../style/mixins";

ngt-configurable-form {
    display: block;

    .ngt-group-wrapper {
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    .ngt-card {
        @include ngt-card-style;
    }

    .ngt-group-title,
    .ngt-group-description {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
}