<div [formGroup]="parentFormGroup"
     class="ngt-element-wrapper">
    <ng-template [ngIf]="matInputContainerElements[currentElement.type] && !currentElement.hidden">
        <mat-form-field [attr.e2e-name]="formName + currentElement.name">
            <input *ngIf="currentElement.type !== 'textarea'"
                   matInput
                   [type]="currentElement.type === 'text' || currentElement.type === 'email' ? 'text': currentElement.type"
                   [required]="currentElement.required"
                   [formControlName]="currentElement.name"/>
            <textarea *ngIf="currentElement.type === 'textarea'"
                      matInput
                      [required]="currentElement.required"
                      [formControlName]="currentElement.name"></textarea>
            <mat-placeholder *ngIf="currentElement.placeholder">
                {{currentElement.placeholder}}
            </mat-placeholder>
            <div matPrefix>
                <div *ngIf="currentElement?.prefix?.renderAs === 'html'" [innerHtml]="currentElement.prefix.text"></div>
                <div *ngIf="currentElement?.prefix?.renderAs === 'string'">{{currentElement.prefix.text}}</div>
                <mat-icon *ngIf="currentElement?.prefix?.renderAs === 'icon'">{{currentElement.prefix.text}}</mat-icon>
            </div>
            <div matSuffix>
                <div *ngIf="currentElement?.suffix?.renderAs === 'html'" [innerHtml]="currentElement.suffix.text"></div>
                <div *ngIf="currentElement?.suffix?.renderAs === 'string'">{{currentElement.suffix.text}}</div>
                <mat-icon *ngIf="currentElement?.suffix?.renderAs === 'icon'">{{currentElement.suffix.text}}</mat-icon>
            </div>
            <mat-hint *ngIf="currentElement.hint"
                      [align]="currentElement.alignHint">
                {{currentElement.hint}}
            </mat-hint>
            <mat-error *ngIf="parentFormGroup?.get(currentElement.name)?.invalid && parentFormGroup?.get(currentElement.name)?.touched">
                {{getErrorMessage(parentFormGroup?.get(currentElement.name))}}
            </mat-error>
        </mat-form-field>
    </ng-template>

    <ng-template [ngIf]="currentElement.type === 'select' && !currentElement.hidden">
        <mat-form-field [attr.e2e-name]="formName + currentElement.name">
            <mat-select *ngIf="isSelectConfigurationValid(currentElement)"
                        [placeholder]="currentElement.placeholder"
                        [formControlName]="currentElement.name">
                <mat-option *ngFor="let option of elementDataProvider | async"
                            [ngClass]="currentElement?.selectConfig?.optionClassMap"
                            [value]="option[currentElement?.selectConfig?.valueField]">
                    <span *ngFor="let visibleKey of currentElement?.selectConfig?.visibleProps">
                        {{option[visibleKey]}}
                    </span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="parentFormGroup?.get(currentElement.name)?.invalid && parentFormGroup?.get(currentElement.name)?.touched">
            {{getErrorMessage()}}
        </mat-error>
    </ng-template>

    <ng-template [ngIf]="currentElement.type === 'checkbox' && !currentElement.hidden">
        <mat-checkbox [attr.e2e-name]="formName + currentElement.name"
                      [formControlName]="currentElement.name">
            {{currentElement.placeholder}}
        </mat-checkbox>
        <mat-error *ngIf="parentFormGroup?.get(currentElement.name)?.invalid && parentFormGroup?.get(currentElement.name)?.touched">
            {{getErrorMessage()}}
        </mat-error>
    </ng-template>

    <ng-template [ngIf]="currentElement.type === 'radiogroup' && !currentElement.hidden">
        <mat-radio-group [formControlName]="currentElement.name">
            <mat-radio-button [attr.e2e-name]="formName + currentElement.name + i"
                              *ngFor="let radio of currentElement.radioElements; let i = index"
                              [value]="radio.value"
                              [checked]="radio.checked">
                {{radio.label}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="parentFormGroup?.get(currentElement.name)?.invalid && parentFormGroup?.get(currentElement.name)?.touched">
            {{getErrorMessage(parentFormGroup?.get(currentElement.name))}}
        </mat-error>
    </ng-template>

    <ng-template [ngIf]="currentElement.type === 'slidetoggle' && !currentElement.hidden">
        <mat-slide-toggle [attr.e2e-name]="formName + currentElement.name"
                          [formControlName]="currentElement.name">
            {{currentElement.placeholder}}
        </mat-slide-toggle>
        <mat-error *ngIf="parentFormGroup?.get(currentElement.name)?.invalid && parentFormGroup?.get(currentElement.name)?.touched">
            {{getErrorMessage()}}
        </mat-error>
    </ng-template>

    <ng-template [ngIf]="currentElement.type === 'datepicker' && !currentElement.hidden">
        <mat-form-field [attr.e2e-name]="formName + currentElement.name">
            <input matInput
                   type="text"
                   [required]="currentElement.required"
                   [matDatepicker]="picker"
                   [formControlName]="currentElement.name"/>
            <mat-placeholder *ngIf="currentElement.placeholder">
                {{currentElement.placeholder}}
            </mat-placeholder>
            <div matPrefix
                *ngIf="!currentElement?.dateConfig?.useTogglePrefix">
                <div *ngIf="currentElement?.prefix?.renderAs === 'html'" [innerHtml]="currentElement.prefix.text"></div>
                <div *ngIf="currentElement?.prefix?.renderAs === 'string'">{{currentElement.prefix.text}}</div>
                <mat-icon *ngIf="currentElement?.prefix?.renderAs === 'icon'">{{currentElement.prefix.text}}</mat-icon>
            </div>
            <div matSuffix
                 *ngIf="!currentElement?.dateConfig?.useToggleSuffix">
                <div *ngIf="currentElement?.suffix?.renderAs === 'html'" [innerHtml]="currentElement.suffix.text"></div>
                <div *ngIf="currentElement?.suffix?.renderAs === 'string'">{{currentElement.suffix.text}}</div>
                <mat-icon *ngIf="currentElement?.suffix?.renderAs === 'icon'">{{currentElement.suffix.text}}</mat-icon>
            </div>
            <mat-hint *ngIf="currentElement.hint"
                      [align]="currentElement.alignHint">
                {{currentElement.hint}}
            </mat-hint>
            <mat-error *ngIf="parentFormGroup?.get(currentElement.name)?.invalid && parentFormGroup?.get(currentElement.name)?.touched">
                {{getErrorMessage(parentFormGroup?.get(currentElement.name))}}
            </mat-error>
            <mat-datepicker-toggle *ngIf="currentElement?.dateConfig?.useTogglePrefix"
                                   matPrefix
                                   [for]="picker">
                <div *ngIf="currentElement?.prefix?.renderAs === 'html'" [innerHtml]="currentElement.prefix.text"></div>
                <div *ngIf="currentElement?.prefix?.renderAs === 'string'">{{currentElement.prefix.text}}</div>
                <mat-icon *ngIf="currentElement?.prefix?.renderAs === 'icon'">{{currentElement.prefix.text}}</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker-toggle *ngIf="currentElement?.dateConfig?.useToggleSuffix"
                                   matSuffix
                                   [for]="picker">
                <div *ngIf="currentElement?.suffix?.renderAs === 'html'" [innerHtml]="currentElement.suffix.text"></div>
                <div *ngIf="currentElement?.suffix?.renderAs === 'string'">{{currentElement.suffix.text}}</div>
                <mat-icon *ngIf="currentElement?.suffix?.renderAs === 'icon'">{{currentElement.suffix.text}}</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker
                            [startView]="currentElement?.dateConfig?.startView || 'month'">
            </mat-datepicker>
        </mat-form-field>
    </ng-template>
    <ng-template [ngIf]="currentElement.type === 'autocomplete' && !currentElement.hidden">
        <mat-form-field [attr.e2e-name]="formName + currentElement.name">
            <input matInput
                   type="text"
                   [required]="currentElement.required"
                   [matAutocomplete]="auto"
                   [formControlName]="currentElement.name"/>
            <mat-placeholder *ngIf="currentElement.placeholder">
                {{currentElement.placeholder}}
            </mat-placeholder>
            <div matPrefix>
                <div *ngIf="currentElement?.prefix?.renderAs === 'html'" [innerHtml]="currentElement.prefix.text"></div>
                <div *ngIf="currentElement?.prefix?.renderAs === 'string'">{{currentElement.prefix.text}}</div>
                <mat-icon *ngIf="currentElement?.prefix?.renderAs === 'icon'">{{currentElement.prefix.text}}</mat-icon>
            </div>
            <div matSuffix>
                <div *ngIf="currentElement?.suffix?.renderAs === 'html'" [innerHtml]="currentElement.suffix.text"></div>
                <div *ngIf="currentElement?.suffix?.renderAs === 'string'">{{currentElement.suffix.text}}</div>
                <mat-icon *ngIf="currentElement?.suffix?.renderAs === 'icon'">{{currentElement.suffix.text}}</mat-icon>
            </div>
            <mat-hint *ngIf="currentElement.hint"
                      [align]="currentElement.alignHint">
                {{currentElement.hint}}
            </mat-hint>
            <mat-error *ngIf="parentFormGroup?.get(currentElement.name)?.invalid && parentFormGroup?.get(currentElement.name)?.touched">
                {{getErrorMessage(parentFormGroup?.get(currentElement.name))}}
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of elementDataProvider | async"
                            [ngClass]="currentElement?.selectConfig?.optionClassMap"
                            [value]="option[currentElement?.selectConfig?.valueField]"
                            (click)="patchElementsValues(option, currentElement.updateFields)">
                    <span *ngFor="let visibleKey of currentElement?.selectConfig?.visibleProps">
                        {{option[visibleKey]}}
                    </span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </ng-template>
</div>