<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Configurable form
    </h1>
    <div class="inline-element">
        <img width="300"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <div class="inline-element left-text">
        <div class="element-spacing">
            <button mat-raised-button [routerLink]="['/layout-example']">
                Simple layout
            </button>
        </div>
        <div class="element-spacing">
            <button mat-raised-button [routerLink]="['/providing-data-example']">
                Connect layout to data providers
            </button>
        </div>
        <div class="element-spacing">
            <button mat-raised-button [routerLink]="['/validators-example']">
                Custom validators
            </button>
        </div>
        <div class="element-spacing">
            <button mat-raised-button [routerLink]="['/configuration-change']">
                Configuration change
            </button>
        </div>
        <div class="element-spacing">
            <button mat-raised-button [routerLink]="['/redux-example']">
                Redux integration
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

