@import "../lib/form-elements/form-elements.theme";

body {
    margin: 0;
}

app-root {
    ngt-configurable-form {
        min-width: 320px;

        .heading-1 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    .app-layout-container {
        display: flex;
        justify-content: center;
        height: calc(100vh - 64px);

        .middle-content {
            padding-top: 100px;
            width: 800px;
        }
    }

    .middle-button {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .inline-element {
        display: inline-block;
    }

    .element-spacing {
        margin: 10px;
    }

    .left-text {
        text-align: left;
    }

    .image-container {
        width: 60px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}