@import "../lib/form-elements/form-elements.theme";

app-root {
    ngt-configurable-form {
        //max-width: 800px;
        min-width: 320px;

        .heading-1 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    .middle-button {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px;
    }
}